# Ironhack Kaggle Competition

In [1]:
import pandas as pd
df = pd.read_csv('validation_features.csv')

## Save closed days in series

In [2]:
closed_series = df['Open'] == 0
closed_series.value_counts()
# If true, the target should be 0 after doing the predictions

False    59168
True     12037
Name: Open, dtype: int64

## Drop Open Col

In [3]:
df.drop('Open', axis = 1, inplace = True)

## Date

In [4]:
df['Day_of_month'] = df['Date'].str[-2:]
df['Year'] = df['Date'].str[:4]
df[["Day_of_month", "Year"]] = df[["Day_of_month", "Year"]].apply(pd.to_numeric)
df.drop(['Date'], axis = 1, inplace = True)

## State holiday

In [5]:
df.loc[df['State_holiday'] == '0', 'State_holiday'] = 0
df.loc[df['State_holiday'] == 'a', 'State_holiday'] = 1
df.loc[df['State_holiday'] == 'b', 'State_holiday'] = 2
df.loc[df['State_holiday'] == 'c', 'State_holiday'] = 3

df['State_holiday']= df['State_holiday'].apply(pd.to_numeric)

In [6]:
df.head()

,Store_ID,Day_of_week,Nb_customers_on_day,Promotion,State_holiday,School_holiday,Day_of_month,Year
0,709,3,1477,1,0,0,22,2014
1,488,6,513,0,0,0,30,2013
2,978,2,936,1,0,0,22,2013
3,377,5,1168,1,0,0,6,2014
4,995,5,831,1,0,0,25,2013

# Model & predictions

In [7]:
from sklearn.model_selection import train_test_split

### Training algorithm data

In [8]:
model_data = pd.read_csv('model_data.csv')
model_data.head()

,Store_ID,Day_of_week,Nb_customers_on_day,Promotion,State_holiday,School_holiday,Sales,Day_of_month,Year
0,404,3,657,1,0,0,5483,19,2014
1,683,2,862,0,0,0,9325,29,2013
2,920,3,591,1,0,0,5402,19,2014
3,758,4,569,0,0,0,3897,26,2014
4,563,1,321,1,0,0,3013,16,2015

### Split data

In [9]:
size = 0.25
X_train, X_test, y_train, y_test = train_test_split(model_data.drop('Sales',axis = 1), model_data['Sales'], test_size = size, random_state=0)

### Model

In [20]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(bootstrap= True,
 criterion = 'mse',
 max_depth= None,
 max_features = 'auto',
 max_leaf_nodes = None,
 min_impurity_decrease = 0.0,
 min_impurity_split = None,
 min_samples_leaf = 1,
 min_samples_split = 2,
 min_weight_fraction_leaf = 0.0,
 n_estimators = 400,
 n_jobs = 1,
 oob_score = False,
 random_state = 42, 
 verbose = 0,
 warm_start = False)

model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=400, n_jobs=1, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [21]:
print('train score =', model.score(X_train, y_train))
print('test score =', model.score(X_test, y_test))

train score = 0.9879602741626988
test score = 0.9123137441322148

In [58]:
y_predict = model.predict(df)
y_predict[closed_series] = 0

In [59]:
predictions = pd.DataFrame(y_predict,columns = ['predictions'])
(predictions['predictions'] ==0).value_counts()

False    59166
True     12039
Name: predictions, dtype: int64

In [60]:
predictions.head()

   predictions
0   11274.7325
1    6503.1550
2    7595.4325
3   10814.9675
4    8258.5875

In [61]:
predictions.to_csv('Cat_Sonia_predictions.csv',index = False)